{% extends 'base.html.twig' %}
{% block body %}
    <section class="hero is-primary">
        <div class="hero-body">
            <p class="title">
                ATTENTION
            </p>
            <p class="subtitle">
                Vous risquez de perdre de l'argent lol
            </p>
        </div>
    </section>
{% endblock %}