<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://www.capital.fr/conso/il-attaque-la-fdj-en-justice-apres-avoir-perdu-46-fois-a-leuromillions-1408066">
            <img src="https://upload.wikimedia.org/wikipedia/commons/8/87/LOGO_FDJ.png">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a href="/" class="navbar-item">
                Home
            </a>
            <a href="/game/play" class="navbar-item">
                Let's PLAY !
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    More
                </a>

                <div class="navbar-dropdown">
                    <a href="{{ path('home_aboutus') }}" class="navbar-item">
                        About
                    </a>
                    <hr class="navbar-divider">
                    <a href="mailto:thibault.marie.pro@gmail.com" class="navbar-item">
                        ✉ Report an issue ✉
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a href="/register" class="button is-primary">
                        <strong>Register</strong>
                    </a>
                    <a href="/login" class="button is-light">
                        Log in
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
